@use 'variables';
@use 'mixins';

.steps-left-column {
  @include mixins.bp-min(variables.$bp-desktop) {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex: 1;
    padding-top: 0.75rem;
  }
}

.steps-arrow-wrapper {
  @include mixins.bp-min(variables.$bp-desktop) {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.steps-arrow {
  @include mixins.bp-min(variables.$bp-desktop) {
    width: 75%;
    height: auto;
  }
}

.steps-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}
