.steps-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}

.desktop-only {
  display: none;
}

.steps-grid {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.steps-tile {
  border: 1px solid #cacaca;
  padding: 1.25rem;
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.01) translateY(-3px);
    box-shadow: 0 2px 5px #007bff;
  }
}

.steps-header {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.steps-text {
  font-size: 1rem;
  color: #666;
}

.steps-icon {
  filter: invert(50%) sepia(81%) saturate(500%) hue-rotate(185deg);
  margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
  .desktop-only {
    display: block;
  }

  .steps-wrapper {
    display: flex;
    gap: 0.75rem;
  }

  .steps-left-column {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex: 1;
    padding-top: 0.75rem;
  }

  .steps-arrow-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .steps-arrow {
    width: 75%;
    height: auto;
  }

  .steps-grid {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }
}
